<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/stylesheets/artist.css">


        <title>ARTIST DETAILS</title>
    </head>

    <body>
        <section class="container-fluid">
            <%- include("nav"); -%>
        </section>
        <div class="container">
            <h1>Artist Details</h1>
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto">
                    <form id="createArtist action="/artists/createArtist" method="POST" class="justify-content-center">
                        <div class="form-group">
                            <label class="form-label">Artist Name:</label>
                            <input
                                required="true"
                                name="name"
                                type="text"
                                class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Birth Year:</label>
                            <input
                            required="false"
                            name="birthYear"
                            type="year"
                            class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Death Year:</label>
                            <input
                            required="false"
                            name="deathYear"
                            type="year"
                            class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Nationality:</label>
                            <input
                            required="true"
                            name="nationality"
                            type="text"
                            class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Region:</label>
                            <input
                            required="true"
                            name="region"
                            type="text"
                            class="form-control"
                            />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Description:</label>
                                <textarea
                                required="true"
                                name="description"
                                type="text"
                                class="form-control"
                                rows="10"
                                ></textarea>
                        </div>
                        <button type="submit" class="btn">Add Artist</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include("footer"); -%>
    </body>
</html>
