<form action="/">
  <div class="input-group">
    <input
      class="form-control"
      type="text"
      name="q"
      placeholder=""
      value="<%= query %>"
    />
    <button type="submit" class="btn-success btn">Search by Artwork Name / Production Year</button>
  </div>
</form>