<footer>
    <div id="connect1" class="container-fluid padding">
        <div class="row connect text-center">
            <div class="col-12">
                <br />
                <hr style="width: 100%; text-align: center; margin-left: 20" />
                Made by Yihong Wang & Jiayi Ning
                <br />
                @2021 All Rights Reserved
            </div>
        </div>
    </div>
</footer>