<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>


<nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
    <a href="#" class="navbar-brand">ART GALLERY MANAGEMENT SYSTEM</a>
    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">ARTWORKS</a>
            </li>
            <li class="nav-item">
                <a href="/artists" class="nav-link">ARTISTS</a>
            </li>
            
        </ul>
    </div>
</nav>