body {
    background-color: #232931;
    color: #eeeeee;
    font-family: 'Nunito', sans-serif;
}

.form-label {
    color: #eeeeee;
}

header,
section {
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  min-height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
    min-height: 12vh;
    display: flex;
    align-items: center;
  }

.btn {
    background-color: #4ecca3;
    font-weight: 100;
    font-size: 1rem;
    color: #eeeeee;
    padding: 15px 32px;
}

.d-flex {
    font-weight: 100;
    font-size: 1rem;
    padding: 15px 32px;
}

.btn:hover {
    background-color: #eeeeee;
    color: #4ecca3;
}